{% extends 'base.html.twig' %}

{% block body %}
    <div class="py-5 text-center">
        {#<img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">#}
        <h4>MATHEMATICAL AND CONCEPTUAL ASPECTS OF QUANTUM THEORY</h4>
        <h6>20-22 JUNE 2018</h6>
        <h5 class="mt-4">CENTRO DE CIENCIAS MATEMATICAS - UNAM</h5>
    </div>

    <h2 class="my-5 text-danger text-center"><i class="fa fa-ban"></i> Registration form is closed: <small>June 4th, 2018.</small></h2>

{% endblock %}